<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="noindex,nofollow">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Poi">
<link rel="manifest" href="https://poi3.com/manifest.webmanifest?v=2">
<meta name="theme-color" content="#191818">
<meta name="msapplication-TileColor" content="#191818">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-TileImage" content="https://poi3.com/images/favicons/mstile-144x144.png">
<meta name="msapplication-square70x70logo" content="https://poi3.com/images/favicons/mstile-70x70.png">
<meta name="msapplication-square150x150logo" content="https://poi3.com/images/favicons/mstile-150x150.png">
<meta name="msapplication-wide310x150logo" content="https://poi3.com/images/favicons/mstile-310x150.png">
<meta name="msapplication-square310x310logo" content="https://poi3.com/images/favicons/mstile-310x310.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57"
  href="https://poi3.com/images/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
  href="https://poi3.com/images/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
  href="https://poi3.com/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
  href="https://poi3.com/images/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon-precomposed" sizes="60x60"
  href="https://poi3.com/images/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120"
  href="https://poi3.com/images/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76"
  href="https://poi3.com/images/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152"
  href="https://poi3.com/images/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-startup-image" href="https://poi3.com/images/apple-pwa-splash/apple-splash-2048-2732.png"
  media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="https://poi3.com/images/apple-pwa-splash/apple-splash-1668-2388.png"
  media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="https://poi3.com/images/apple-pwa-splash/apple-splash-1668-2224.png"
  media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="https://poi3.com/images/apple-pwa-splash/apple-splash-1536-2048.png"
  media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="https://poi3.com/images/apple-pwa-splash/apple-splash-1242-2688.png"
  media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="https://poi3.com/images/apple-pwa-splash/apple-splash-1125-2436.png"
  media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="https://poi3.com/images/apple-pwa-splash/apple-splash-828-1792.png"
  media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="https://poi3.com/images/apple-pwa-splash/apple-splash-1242-2208.png"
  media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="https://poi3.com/images/apple-pwa-splash/apple-splash-750-1334.png"
  media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="https://poi3.com/images/apple-pwa-splash/apple-splash-640-1136.png"
  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
<link rel="icon" type="image/png" href="https://poi3.com/images/favicons/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="https://poi3.com/images/favicons/favicon-128x128.png" sizes="128x128">
<link rel="icon" type="image/png" href="https://poi3.com/images/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://poi3.com/images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://poi3.com/images/favicons/favicon-16x16.png" sizes="16x16">
